{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Contenido del Home -->

<div class="home">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-lg-10">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators">
                    <button
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="0"
                            class="active"
                            aria-current="true"
                            aria-label="Slide 1">
                    </button>
                    <button
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="1"
                            aria-label="Slide 2">
                    </button>
                    <button
                            type="button"
                            data-bs-target="#carouselExampleCaptions"
                            data-bs-slide-to="2"
                            aria-label="Slide 3">
                    </button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="">
                            <img
                                src="{% static 'stellarsApp/public/img/Halloween2.jpg' %}"
                                class="d-block w-100"
                                alt="...">
                            <div class="carousel-caption d-none d-xl-block">
                                <h5>Halloween: La Noche Final</h5>
                                <p>
                                    <small>
                                        Cuatro años después de los eventos de Halloween en 2018, Laurie ha decidido liberarse del miedo y la ira y abrazar la vida. Pero cuando un joven es acusado de matar a un niño que estaba cuidando, se enciende una cascada de violencia y terror que obligará a Laurie a enfrentarse finalmente al mal que no puede controlar, de una vez por todas.
                                    </small>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="">
                        <img
                            src="{% static 'stellarsApp/public/img/Smile.jpg' %}"
                            class="d-block w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-xl-block">
                            <h5>Smile</h5>
                            <p>
                                <small>
                                    Tras presenciar un extraño y traumático incidente con un paciente, la doctora Rose Cotter (Sosie Bacon) comienza a experimentar sucesos aterradores que no puede explicar. A medida que un miedo sobrecogedor comienza a afectar a todos los aspectos de su vida, Rose se verá obligada a afrontar a su problemático pasado para sobrevivir y escapar de su terrorífica nueva realidad.
                                </small>
                            </p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="">
                        <img
                            src="{% static 'stellarsApp/public/img/Barbarian.jpg' %}"
                            class="d-block w-100"
                            alt="...">
                        <div class="carousel-caption d-none d-xl-block">
                            <h5>Barbarian</h5>
                            <p>
                                <small>
                                    Una joven que viaja a Detroit para una entrevista de trabajo alquila una casa para pasar la noche. Pero cuando llega a altas horas de la noche, descubre que la casa está doblemente reservada y que un hombre extraño ya se está quedando allí. En contra de su buen juicio, decide pasar la noche allí, pero pronto descubre que hay mucho más que temer que un invitado inesperado.
                                </small>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
            </button>
            <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<h2>ESTRENOS</h2>

<div class="row gy-5">
    <div class="col-lg-4">
        <div class="card text-bg-dark">
            <a href="">
                <img
                    src="{% static 'stellarsApp/public/img/Halloween2.jpg' %}"
                    class="card-img"
                    alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small></small></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-bg-dark">
            <a href="">
                <img
                    src="{% static 'stellarsApp/public/img/Smile.jpg' %}"
                    class="card-img"
                    alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small></small></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-bg-dark">
            <a href="">
                <img
                    src="{% static 'stellarsApp/public/img/Barbarian.jpg' %}"
                    class="card-img"
                    alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small></small></p>
                </div>
            </a>
        </div>
    </div>
</div>

<h2>PELICULAS</h2>

<div class="row gy-5">
    <div class="col-lg-4">
        <div class="card text-bg-dark">
            <a href="">
                <img
                    src="{% static 'stellarsApp/public/img/Halloween2.jpg' %}"
                    class="card-img"
                    alt="...">
                <div class="estreno">
                    <small>ESTRENO</small>
                </div>
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small></small></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-bg-dark">
            <a href="">
                <img
                    src="{% static 'stellarsApp/public/img/Smile.jpg' %}"
                    class="card-img"
                    alt="...">
                <div class="estreno">
                    <small>ESTRENO</small>
                </div>
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small></small></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-bg-dark">
            <a href="">
                <img
                    src="{% static 'stellarsApp/public/img/Barbarian.jpg' %}"
                    class="card-img"
                    alt="...">
                <div class="estreno">
                    <small>ESTRENO</small>
                </div>
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small></small></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-bg-dark">
            <a href="">
                <img
                    src="{% static 'stellarsApp/public/img/Terrifier_2.jpg' %}"
                    class="card-img"
                    alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small></small></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-bg-dark">
            <a href="">
                <img
                    src="{% static 'stellarsApp/public/img/Black_Adam.jpg' %}"
                    class="card-img"
                    alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small></small></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-bg-dark">
            <a href="">
                <img
                    src="{% static 'stellarsApp/public/img/Avatar.jpg' %}"
                    class="card-img"
                    alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small></small></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-bg-dark">
            <a href="">
                <img
                    src="{% static 'stellarsApp/public/img/Black_Panther.jpg' %}"
                    class="card-img"
                    alt="...">
                <div class="proximamente">
                    <small>PRÓXIMAMENTE</small>
                </div>
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"><small></small></p>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock content %}