{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="preview-container">
    <div class="left">
        <div class="preview-title">
            <span id="name">{{ film.title }}</span><span id="features"> {{ film.title2 }}</span>
        </div>
        <div class="preview-description">
            <p>{{ film.description }}</p>
        </div>
        <iframe class="trailer" src="{{ film.trailer }}" frameborder="0"></iframe>
    </div>
        <table class="right table table-dark table-striped">
            <tbody>
                <tr>
                    <th scope="row">Título original:</th>
                    <td class="d-content">{{ film.original }}</td>
                </tr>
                <tr>
                    <th scope="row">País:</th>
                    <td class="d-content">{{ film.country }}</td>
                </tr>
                <tr>
                    <th scope="row">Género:</th>
                    <td class="d-content">{{ film.genre }}</td>
                </tr>
                <tr>
                    <th scope="row">Año:</th>
                    <td class="d-content">{{ film.year }}</td>
                </tr>
                <tr>
                    <th scope="row">Dirección:</th>
                    <td class="d-content">{{ film.direction }}</td>
                </tr>
                <tr>
                    <th scope="row">Protagonistas:</th>
                    <td class="d-content">{{ film.cast }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Duración:</th>
                    <td class="d-content">{{ film.duration }}</td>
                </tr>
                <tr>
                    <th scope="row">Distribuidora:</th>
                    <td class="d-content">{{film.distribution }}</td>
                </tr>
            </tbody>
    </div>
</div>

{% endblock content %}
