{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="preview-container">
    <div class="preview">

        <div class="left">
            <div class="preview-title">
                <span id="name">{{ film.title }}</span><span id="features"> {{ film.title2 }}</span>
            </div>
            <div class="preview-description">
                <p>{{ film.description }}</p>
            </div>
            <iframe class="trailer" src="{{ film.trailer }}" frameborder="0"></iframe>
        </div>

        <div class="right">
            <table id="data-items">
                <tr>
                    <td class="d-title">Título original:</td>
                    <td class="d-content">{{ film.original }}</td>
                </tr>
                <tr>
                    <td class="d-title">País:</td>
                    <td class="d-content">{{ film.country }}</td>
                </tr>
                <tr>
                    <td class="d-title">Género:</td>
                    <td class="d-content">{{ film.genre }}</td>
                </tr>
                <tr>
                    <td class="d-title">Año:</td>
                    <td class="d-content">{{ film.year }}</td>
                </tr>
                <tr>
                    <td class="d-title">Dirección:</td>
                    <td class="d-content">{{ film.direction }}</td>
                </tr>
                <tr>
                    <td class="d-title">Protagonistas:</td>
                    <td class="d-content">{{ film.cast }}
                    </td>
                </tr>
                <tr>
                    <td class="d-title">Duración</td>
                    <td class="d-content">{{ film.duration }}</td>
                </tr>
                <tr>
                    <td class="d-title">Distribuidora:</td>
                    <td class="d-content">{{film.distribution }}</td>
                </tr>
            </table>
        </div>

    </div>
</div>

{% endblock content %}
