.preview-container {
    display: flex;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 78px);
    margin: 0 0 0 78px;
    font-size: 20px;
    padding: 88px 5px 5px;
    /* background-color: aqua; */
}

.preview {
    position: relative;
    display: flex;
    min-height: auto;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background: rgb(199, 199, 199);
}

.right {
    margin: 5px 5px 5px 2.5px;
    background: #fff;
    border: 2px solid black;
    border-radius: 5px;
    width: 60%;
}

.left {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 5px 2.5px 5px 5px;
    background: #fff;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
}

.preview-title {
    margin: 5px 5px 2.5px 5px;
    /* background: yellow; */
    border: 2px solid black;
    border-radius: 5px;
    height: 50px;
}

.preview-description {
    margin: 2.5px 5px 2.5px 5px;
    /* background: yellow; */
    border: 2px solid black;
    border-radius: 5px;
    height: 150px;
}

.preview-trailer {
    margin: 2.5px 5px 5px 5px;
    /* background: yellow; */
    border: 2px solid black;
    border-radius: 5px;
    min-height: 60%;
}

/* 
iframe {
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
} */
























/* .preview-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #E2DFDF;
    padding: 10px 10px 10px 90px;
}

.preview-container #title,
.preview-container #description,
.preview-container #trailer,
.preview-container #data {
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
}

.preview-container #title {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 20px;
}

.preview-container #title #name {
    font-size: 30px;
    font-weight: bold;
}

.preview-container #title #features {
    font-size: 18px;
    border: 1px solid blue;
    border-radius: 3px;
    padding: 5px;
    background-color: aquamarine;
}

.preview-container #description {
    grid-area: description;
    padding: 10px;
    overflow: hidden;
    font-size: 20px;
    color: blue;
}

.preview-container .iframe-container {
    grid-area: trailer;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.preview-container #data {
    grid-area: data;
    display: flex;
    overflow: hidden;
    padding: 10px;
    border: 1px solid gray;
    width: 100%;
}

.preview-container #data table {
    width: 100%;
}

.preview-container #data table tr:nth-child(even) {
    background-color: whitesmoke;
}

.preview-container #data table tr:nth-child(odd) {
    background-color: #D7E4F7;
}

.preview-container #data table tr td {
    border: 1px solid gray;
}

.preview-container #data table tr td.d-title {
    width: 30%;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.preview-container #data table tr td.d-content {
    width: 70%;
    padding: 10px 10px 10px 20px;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    .preview-container {
        padding: 10px 10px 10px 50px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "title title title title title"
            "description description description description description"
            "trailer trailer trailer trailer trailer"
            "data data data data data"

    }
} */