/* Link de fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


/* --------------- sidebar --------------- */

.sidebar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    transition: all 0.3s ease 0s;
}

.sidebar.show {
    width: 260px;
    transition: all 0.3s ease 0s;
}

.sidebar .nav-links {
    height: 100%;
    margin-top: 78px;
    padding: 20px 0 150px 0;
    overflow: auto;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar.closed .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    /* background: #11101d; */
    color: #32d4a4;
}

.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(180deg);
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #11101d;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar .nav-links li .sub-menu .blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu .blank {
    top: 50%;
    transform: translateY(-50%);
}


/* --------------- topbar --------------- */
.topbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    background: #11101d;
    width: 100%;
}

.topbar-logo {
    width: 250px;
    margin: 10px;
}

.stellars-logo {
    height: 60px;
    width: auto;
}

.topnavbar {
    display: flex;
    width: calc(100%);
    justify-content: space-between;
}

.section {
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 235px;
    margin-right: 50px;
}


/* --------------- previews -------------- */

.preview-container {
    position: relative;
    display: flex;
    min-height: 100vh;
    margin: 0 0 0 78px;
    padding: 87px 5px 5px 5px;
    font-size: 20px;
    background-color: #32d4a4;
}

.right {
    margin: 5px 5px 5px 2.5px;
    width: 35%;
    background: #fff;
}

.left {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 65%;
    border-radius: 5px;
}

.preview-title {
    margin: 5px 5px 2.5px 5px;
    border: 2px solid black;
    border-radius: 5px;
    height: 88px;
}

.preview-description {
    margin: 2.5px 5px 2.5px 5px;
    border: 2px solid black;
    border-radius: 5px;
    height: 250px;
}

.trailer {
    position: relative;
    margin: 2.5px 5px 5px 5px;
    padding: 0;
    border-radius: 5px;
    min-width: 250px;
    min-height: 540px;
}


@media (max-width: 1200px) {
    .preview-container {
        display: flex;
        flex-wrap: wrap;
    }

    .right {
        width: 100%;
        margin: 2.5px 5px 5px 5px;
    }

    .left {
        width: 100%;
    }
}