/* Link de fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
h1 {
    margin-left: 78px;
    font-size: 300px;
}

.sidebar {
    position: fixed;
    top: 78px;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    transition: all 0.3s ease 0s;
}
.sidebar.show {
    width: 260px;
    transition: all 0.3s ease 0s;
}

.sidebar .nav-links {
    height: 100%;
    padding: 20px 0 150px 0;
    overflow: auto;
}
.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar.closed .nav-links {
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
    background: #11101d;
}
.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(180deg);
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #11101d;
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}
.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar .nav-links li .sub-menu .blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu .blank {
    top: 50%;
    transform: translateY(-50%);
}


/*--------------- topbar ---------------*/
.topbar-content {
    display: flex;
    position: fixed;
    background: red;
    left: 0;
    /* width: calc(100% - 260px); */
    width: 100%;
}

.topbar-content .topbar-section {
    display: flex;
    height: 78px;
}

.topbar-section .logo-details {
    margin: 5px 0 15px 15px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.topbar-section .logo-details .logo_name1 {
    margin: -22px -8px 0;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}
.topbar-section .logo-details .logo_name2 {
    margin: 32px -12px 0;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.logo-img {
    margin: 10px 0 0 10px;
    width: 50px;
    height: auto;
}

.logo-line {
    margin: 7px -124px 0;
    width: 61%;
    height: 3px;
}

.section {
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}
